$primary_family: "Roboto", sans-serif;

$accent-color: red;

$code-variable-color: #e95662;
$code-primary-color: #afb0b0;
$code-class-color: #dfbb78;
$code-function-color: #a94b84;

$container-code-color: #282c34;
$container-code-secondary-color: #f1f5f7;
$container-code-padding: 10px;