$primary_family: "Roboto", sans-serif;

$accent-color: red;
$text-primary-color: #282c34;

$font-thin: 300;
$font-bold: 900;

$code-variable-color: #e95662;
$code-primary-color: #afb0b0;
$code-class-color: #dfbb78;
$code-function-color: #a94b84;
$code-string-color: #76b671;
$code-invoke-color: #549ab5;

$container-code-color: #282c34;
$container-code-secondary-color: #f1f5f7;
$container-code-padding: 10px;