@import "const";
@import "mixins/index";
@import "common/media";
@import "typography/index";
@import "containers/index";
@import "common/index";
@import "examples/index";
@import "components/index";
@import "common/reset";

.doc {
  display: flex;
  margin: 20px auto;
  justify-items: center;
  flex-direction: column;
  width: 75vw;
}