.doc {
  .btn {
    display: inline-block;
    border: none;
    padding: 10px 25px;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}