@import "../const";
@import "style/mixins/index";

.doc {
  .container {
    display: flex;
    flex-direction: column;

    .installation-guide {
      display: flex;
      flex-direction: column;

      .text-code-primary {
        font-weight: $font-bold;
        color: $text-primary-color;
      }
    }

    &-center {
      @include flexCenter();
    }

    &-row {
      display: flex;
      flex-direction: row;
    }

    &-code {
      border-radius: 6px;
      padding: $container-code-padding;
      background-color: $container-code-color;

      &-secondary {
        background-color: $container-code-secondary-color;
      }

      &-highlight {
        color: $code-function-color;
      }
    }
  }
}

