@import "../const";
@import "../mixins";
.doc {
  .container {
    display: flex;
    flex-direction: column;

    &-center {
      @include flexCenter();
    }

    &-row {
      display: flex;
      flex-direction: row;
    }

    &-code {
      border-radius: 6px;
      padding: $container-code-padding;
      background-color: $container-code-color;

      &-secondary {
        background-color: $container-code-secondary-color;
      }

      &-highlight {
        color: $code-function-color;
      }
    }
  }
}

