@import "style/const";
@import "mixins";

$font-thin: 300;
$font-bold: 900;

.doc {
  .text {
    @include setFontFamily();

    &-header-title {
      font-size: 3em;
      text-align: center;
    }

    &-header {
    }

    &-primary {
    }

    &-secondary {
    }

    &-thin {
      font-weight: $font-thin;
    }

    &-bold {
      font-weight: $font-bold;
    }

    &-code {
      font-family: Mononoki, sans-serif;

      &-class {
        color: $code-class-color;
      }

      &-primary {
        color: $code-primary-color;
      }

      &-function {
        color: $code-function-color;
      }

      &-variable {
        color: $code-variable-color;
      }
    }

    &-accent {
      color: $accent-color;
    }
  }
}

