@import "style/const";
@import "mixins";


.doc {
  .text {
    @include setFontFamily();
    margin: 0;
    padding: 0;
    text-decoration: none;

    a {
      font-weight: $font-bold;
      color: $text-primary-color;
    }

    &-align-center {
      text-align: center;
    }

    &-header-title {
      font-size: 3em;
    }

    &-header {
      font-size: 2em;
    }

    &-primary {
      color: $text-primary-color;
    }

    &-secondary {
    }

    &-thin {
      font-weight: $font-thin;
    }

    &-bold {
      font-weight: $font-bold;
    }

    &-small {
      font-size: 1em;
    }

    &-code {
      font-family: Mononoki, sans-serif;
      margin: 0;

      &-class {
        color: $code-class-color;
      }

      &-primary {
        color: $code-primary-color;
      }

      &-string {
        color: $code-string-color;
      }

      &-function {
        color: $code-function-color;
      }

      &-invoke {
        color: $code-invoke-color;
      }

      &-variable {
        color: $code-variable-color;
      }
    }

    &-accent {
      color: $code-variable-color;
    }
  }
}

